<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center py-4">
          <a href="#" class="logo d-flex align-items-center w-auto">
            <img src="assets/img/LogoCompleto.png" alt="Logo DigitalVault">
          </a>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">INICIA SESIÓN EN TU CUENTA</h5>
              <p class="text-center small">Introduce tu correo electrónico y contraseña para iniciar sesión</p>
            </div>

            <form (ngSubmit)="onSubmit()" class="row g-3 needs-validation">
              <div class="col-12">
                <label for="email" class="form-label">Correo electrónico</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">&#64;</span> <!-- Usa &#64; en lugar de @ -->
                  <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required>
                  <div class="invalid-feedback">Por favor ingresa tu correo electrónico.</div>
                </div>                  
              </div>

              <div class="col-12">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" required>
                <div class="invalid-feedback">Por favor ingresa tu contraseña.</div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Iniciar sesión</button>
              </div>
              <div class="col-12">
                <p class="small mb-0">
                  ¿No tienes una cuenta? 
                  <button (click)="goToRegister()" class="btn btn-link p-0">Crea una cuenta</button>
                </p>   
                <p class="small mb-0">
                  ¿Olvidaste tu contraseña? 
                  <button (click)="goToForgotPassword()" class="btn btn-link p-0">Recupérala aquí</button>
                </p>                         
              </div>             
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
